/* header {
  background-color: #fff;
  margin-top: 0px;
  font-family: "Varela Round", sans-serif;
  width: 100%;
}

.topnav,
.topnav-opening {
  color: #707070;
  text-align: right;
  float: right;
  margin-left: 1.5em;
  margin-top: 0;
}

.topnav,
a {
  color: #707070;
  font-family: "Varela Round", sans-serif;
  overflow: hidden;
  text-decoration: none;
}

.top-nav-link:hover,
.nav-link:hover {
  color: #fdb834;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
}

/* Navigation links 
.navbar a {
  float: left;
  font-size: 18px;
  color: #707070;
  text-align: center;
  margin-right: 3rem;
  margin-top: 5px;
  text-decoration: none;
}

/* The subnavigation menu 
.navbar {
  float: left;
}

h1 {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 55px;
}

body {
  background-color: #fff;
  padding-left: 150px;
  padding-right: 150px;
}
.new-jacket,
.jacket-men,
.jacket-women {
  float: left;
  width: 50%;
  margin: none;
  padding: none;
}

.jacket-men {
  width: 100%;
  height: 220px;
  object-fit: cover;
  opacity: 0.4;
}

.text-men {
  position: absolute;
  color: #fdb834;
  font-family: "Varela Round", sans-serif;
  left: 25%;
  top: 25%;
  opacity: 0.7;
}

.new-men-jacket {
  color: #fdb834;
}

.jacket-women {
  width: 100%;
  height: 220px;
  object-fit: cover;
  opacity: 0.4;
}

.text-women {
  position: absolute;
  color: #fdb834;
  font-family: "Varela Round", sans-serif;
  right: 22.5%;
  top: 25%;
  opacity: 0.7;
}

.new-women-jacket {
  color: #fdb834;
}

main {
  background-color: antiquewhite;
  padding-bottom: 300px;
}

footer {
  background-color: #dedede;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
}

.limited {
  float: left;
  width: 20%;
  height: 280px;
  margin: none;
  padding: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.limited_men {
  width: 100%;
  height: 280px;
  object-fit: cover;

  background-image: url("../img/men-limited.jpg");
  margin: 0;
  background-position: center;
}

.limited .limited_women {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.limited_junior {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.limited_gears {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.limited_explore {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.vip {
  float: left;
  width: 100%;
  margin: none;
  padding: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.vip_section {
  width: 100%;
} */

body,
html {
  height: 100vh;
}

body.homepage {
  margin: 0 15% 0 15%;
}

.header__main {
  width: 100%;
  display: grid;

  grid-template-areas: "box1  box2";
}

.nav__top {
  display: flex;
  justify-content: flex-end;
}

.nav__middle {
  display: flex;
  justify-content: flex-end;
}

p {
  margin: 0;
}

.one {
  width: 100%;
  display: flex;
}

.two {
  width: 100%;
  display: grid;
  grid-template-areas:
    "box6 box7 box8 box9 box10"
    "box11 box11 box11 box11 box11";
}

.box1 {
  background-color: red;
  height: 100px;
  grid-area: box1;
}

.box2 {
  background-color: green;
  height: 100px;
  grid-area: box2;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 0;
  align-items: flex-end;
}

.flexbox1 {
  margin: 1% 0 3% 0;
}

.box3 {
  background-color: greenyellow;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.nav__bottom {
  width: 60%;
  justify-content: flex-start;
}

.search {
  width: 40%;
  display: flex;
  background-color: thistle;
  height: 50px;
  justify-content: flex-end;
  align-content: flex-end;
}

.box2 p {
  grid-row: 1/2;
  color: white;
}

.box4 {
  background-color: indianred;
  height: 200px;
  width: 50%;
}

.new__men--img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.link__men-jacket {
  position: absolute;
}

.link__men-jacket .text {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;
}

.link__men-jacket .text h1 {
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
}

.link__men-jacket:hover .text {
  opacity: 1;
  display: flex;
  align-items: flex-end;
}

.box5 {
  background-color: lemonchiffon;
  height: 200px;
  width: 50%;
  grid-area: box5;
}

.new__woman--img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.box6 {
  background-color: lightsalmon;
  height: 280px;
  grid-area: box6;
}

.box7 {
  background-color: lightskyblue;
  height: 280px;
  grid-area: box7;
}

.box8 {
  background-color: magenta;
  height: 280px;
  grid-area: box8;
}

.box9 {
  background-color: mediumvioletred;
  height: 280px;
  grid-area: box9;
}

.box10 {
  background-color: midnightblue;
  height: 280px;
  grid-area: box10;
}

.box11 {
  background-color: orange;
  grid-area: box11;
  height: 100px;
  width: 100%;
}

.logo {
  margin: 1% 0 0 0;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  display: inline-block;
}

/* Navigation links */
.navbar a {
  font-size: 18px;
  color: #707070;
  text-align: center;
  margin-right: 3rem;
  margin-top: 5px;
  text-decoration: none;
}

.nav-link:hover {
  color: #fdb834;
}
