html {
  font-size: 62.5%;
}

body {
  margin: 0 15% 0 15%;
}

.header__main {
  width: 100%;
  display: grid;

  grid-template-areas: "box1  box2";
}

.nav__top {
  display: flex;
  justify-content: flex-end;
}

.nav__middle {
  display: flex;
  justify-content: flex-end;
}

p {
  margin: 0;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
  justify-content: left;
}

.section2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 26.88rem);
}

.box1 {
  background-color: red;
  height: 100px;
  grid-area: box1;
}

.box2 {
  background-color: green;
  height: 100px;
  grid-area: box2;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 0;
  align-items: flex-end;
}

.flexbox1 {
  margin: 1% 0 3% 0;
}

.box3 {
  background-color: greenyellow;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.nav__bottom {
  width: 60%;
  justify-content: flex-start;
}

.search {
  width: 40%;
  display: flex;
  background-color: thistle;
  height: 50px;
  justify-content: flex-end;
  align-content: flex-end;
}

.box2 p {
  grid-row: 1/2;
  color: white;
}

.box4 {
  background-color: indianred;
  height: 200px;
  width: 100%;
  position: relative;
}

.hover {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 99%;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.6),
    rgba(0, 0, 0, 0.8)
  );
  transition: all 0.4s;
  z-index: 8;
}

.hover:hover {
  opacity: 100;
}

.hover:hover h2 {
  opacity: 100;
}

.hover:hover + #white {
  opacity: 0;
}

h2 {
  transition: all 1s;
  opacity: 0;
  color: white;
}

#white {
  position: absolute;
  top: 0;
  left: 0;
  height: 99%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 100;
  transition: all 0.4s;
  z-index: 4;
}

h1 {
  position: absolute;
  top: 40%; /* these lines centers text*/
  left: 50%;
  transform: translate(-50%, -50%);
}

.new__men--img,
.new__woman--img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.link__men-jacket {
  position: absolute;
}

.link__men-jacket .text {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;
}

.link__men-jacket .text h1 {
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
}

.link__men-jacket:hover .text {
  opacity: 1;
  display: flex;
  align-items: flex-end;
}

.box5 {
  background-color: lemonchiffon;
  height: 200px;
  width: 100%;
  position: relative;
}

.new__woman--img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.box6 {
  background-color: lightsalmon;

  height: 350px;
}

.box6 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.box7 {
  background-color: lightskyblue;
  height: 350px;
}

.box7 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.box8 {
  background-color: magenta;
  height: 350px;
}

.box9 {
  background-color: mediumvioletred;
  height: 350px;
}

.box10 {
  background-color: midnightblue;
  height: 350px;
}

.box11 {
  background-color: orange;
  grid-area: box11;
  height: 100px;
  width: 100%;
}

.logo {
  margin: 1% 0 0 0;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  display: inline-block;
}

/* Navigation links */
.navbar a {
  font-size: 18px;
  color: #707070;
  text-align: center;
  margin-right: 3rem;
  margin-top: 5px;
  text-decoration: none;
}

.nav-link:hover {
  color: #fdb834;
}
